<div class="w-full bg-white shadow-md h-10 fixed top-0 z-50">
    <nav class="container-w flex justify-between h-full">
        <div>
            <a class="px-2 flex items-center h-full text-slate-600 hover:text-blue-700 text-xl font-medium" href="/">
                <img src="/assets/betaspray-logo.svg" alt="BetaSpray Logo" class="h-[18px] w-[12px] mr-1">
                <span>{{ config.appTitle }}</span>
            </a>
        </div>
        <div class="flex items-center">
            {% for link in navigation %}
                <a 
                    class="
                        flex items-center h-full text-base px-2 border-0 border-b-[2px] pt-[2px]
                        {% if page.url == link.route %}
                            text-blue-700 hover:text-blue-700 border-blue-700
                        {% else %}
                            text-slate-500 hover:text-slate-700 border-transparent hover:border-slate-400
                        {% endif %}"
                    href="{{ link.route }}">
                    <span>{{ link.name }}</span>
                </a>
            {% endfor %}
        </div>
    </nav>
</div>