{% set title = 'Not Found' %}
{% extends "layout.njk" %}

{% block body %}
<main class="container-w px-6 pt-4 pb-8">
    <h1 class="text-2xl text-slate-700">404 Page not found.</h1>
    <p class="text-sm text-slate-500">We were unable to find that page.</p>
    <p class="text-sm text-slate-500"><a class="text-blue-700 hover:text-blue-900" href="/search/">Search for a spray wall</a> to climb now.</p>
    <p class="text-sm text-slate-500">Or, you can <a class="text-blue-700 hover:text-blue-900" href="#">add a new spray wall</a></p> 
</main>
{% endblock %}
