{% set title = 'Wall' %}
{% extends "layout.njk" %}


{% block body %}
<div
    x-cloak
    x-data="{
        hasWallSlug: new URLSearchParams(location.search).has('wall'),
        wallSlug: new URLSearchParams(location.search).get('wall'),
        wall: {},
        isValidParameters: true,
        isLoading: true,
    }"
    x-init="
        isValidParameters = hasWallSlug;

        if (isValidParameters) {
            wall = await $store.apiService.getWallAsync(wallSlug);
        }

        isLoading = false;
    "
    class="w-full h-full">

    {% loading { while: 'isLoading', delayShow: 750 } %}


    <!-- Subnav -->
    <div x-show="!isLoading && isValidParameters" class="container-w h-10">
        <div class="h-full flex flex-row flex-nowrap justify-between space-x-2 border-b border-slate-300">
            <div class="flex flex-row">
                {% if config.featureFlags.wallFilter %}
                <a class="flex items-end px-2 text-sm text-slate-500 hover:text-blue-700 cursor-pointer" href="/wall/">
                    {% iconlabel { icon: 'search', style: 'py-1' } %}Search{% endiconlabel %}
                </a>
                <a class="flex items-end px-2 text-sm text-slate-500 hover:text-blue-700 cursor-pointer" href="/wall/">
                    {% iconlabel { icon: 'filter', style: 'py-1' } %}Filter{% endiconlabel %}
                </a>
                <a class="flex items-end px-2 text-sm text-slate-500 hover:text-blue-700 cursor-pointer" href="/wall/">
                    {% iconlabel { icon: 'bar-chart', style: 'py-1' } %}Sort{% endiconlabel %}
                </a>
                {% endif %}
                <a 
                    class="flex items-end px-2 text-sm text-slate-500 hover:text-blue-700 cursor-pointer" 
                    x-on:click="window.location = `/problem/?wall=${wallSlug}`" >
                    {% iconlabel { icon: 'plus-circle', style: 'py-1' } %}Add Problem{% endiconlabel %}
                </a>
            </div>
            <div class="flex flex-row">
                {% if config.featureFlags.wallSettings %}
                <a class="flex items-end px-2 text-sm text-slate-500 hover:text-blue-700 cursor-pointer">
                    {% iconlabel { icon: 'settings', style: 'py-1' } %}Settings{% endiconlabel %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Content -->
    <main x-show="!isLoading" class="container-w px-6 pt-4 pb-8">
        <div x-cloak x-show="!isValidParameters">
            <h2 class="text-2xl text-slate-700">Invalid URL Parameters</h2>
            <p x-show="!hasWallSlug" class="text-sm text-slate-500">No wall given.</p>
            <p class="text-sm text-slate-500"><a class="text-blue-700 hover:text-blue-900" href="/search/">Search for a spray wall</a> to start crushing.</p>
        </div>

        <!-- Climbs -->
        <div
            x-cloak
            x-show="isValidParameters" 
            class="grid grid-auto-fit-200px gap-3 auto-rows-fr">
            <template x-for="problem in wall.problems">
                <div 
                    class="card cursor-pointer"
                    x-on:click="window.location = `/problem/?wall=${wallSlug}&problemId=${problem.id}`">
                    <h2 class="text-slate-700 text-base truncate" x-text="`${$store.utilService.vGradeToString(problem.vGrade)} | ${problem.name}`"></h2>
                    <p class="text-slate-400 text-xs truncate" x-text="problem.setterName"></p>
                    <div class="mt-2 flex flex-row flex-nowrap justify-end space-x-2">
                        <span class="text-[10px] text-slate-400 flex flex-row flex-nowrap">
                            {% icon 'check', { height: '15', hasMarginRight: true } %}
                            <span x-text="$store.utilService.abbreviateNumber(problem.sendCount)"></span>
                        </span>
                        <span class="text-[10px] text-slate-400 flex flex-row flex-nowrap">
                            {% icon 'heart', { height: '15', hasMarginRight: true } %}
                            <span x-text="$store.utilService.abbreviateNumber(problem.likeCount)"></span>
                        </span>
                    </div>
                </div>
            </template>
            <div 
                x-cloak
                x-on:click="window.location = `/problem/?wall=${wallSlug}`"
                class="card-outline cursor-pointer" >
                <h2 class="text-slate-500 text-base truncate">
                    {% iconlabel { icon: 'plus-circle', iconHeight: '24' } %}Add Problem{% endiconlabel %}
                </h2>
                <p class="text-slate-400 text-xs truncate">Add a new Problem for this wall.</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}
